
.top-search{
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.star{
  margin-top: 10px;
}
.App{
  border:solid 2px black;
  width: 80%;
  height: 100%;
  margin: 20px;
}
.Data{
  height: 25px;
  width:600px;
  margin: 10px;
}

.movie{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
}
.card{
  border:solid 4px black;
  height:350px;
  width:21%;
  text-align: center;
  margin:5px;
  padding:20px;
  display: inline;
  
}
.card h4{
  text-align: center;
  color:purple;
  border-bottom:solid 1px black;
}
.card img{
  margin-top: 20px;
}
.newMovie{
  display: inline;
}
.newModal{
  border:solid 4px black;
  height:350px;
  width:21%;
  text-align: center;
  margin:5px;
  padding:20px;
  display: inline;

}